{
    "env": {
        "browser": true,
        "node": true
    },

    "parser": "babel-eslint",

    "globals": {
        "React": true
    },

    "ecmaFeatures": {
        "jsx": true
    },

    "plugins": [
        "react"
    ]
}
